
.head a{
    
    font-family: 'Quicksand', sans-serif;
    color: orangered;
    font-weight: bold;
}
.image img{
    text-align: center;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.infor-header img{
    width: 24px;
    height: auto;
}
.infor-header h1{
    font-size: 50px;
    font-weight: 700;
}
.infor-header h4{
    font-size: 28;
    font-weight: 700;
}
.infor-body p{
    line-height: 10px;
   
}
.infor-body i{
   margin-right: 10px;
}
.infor-socail a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display:inline-block;
    text-align: center;
    color: whitesmoke;
     border-radius: 50%;
     margin-left: 10px;
     transition: all 0.8s ease 0s;
}
.infor-socail .facebook{
    background-color: #4267B2;
    
}
.infor-socail .facebook:hover{
    background-color: blue;
}
.infor-socail .twiter{
    background-color: #00acee;
}
.infor-socail .twiter:hover{
    background-color: lightseagreen;
}

.infor-socail .youtube{
    background-color: #FF0000;
}
.infor-socail .youtube:hover{
    background-color: darkred;
}
.infor-socail .instagram{
    background-color: #e95950;
}
.infor-socail .instagram:hover{
    background-color: #cd486b;
}
.infor-socail .telegram{
    background-color: #0088CC;
}
.infor-socail .telegram:hover{
    background-color: #05133b;
}
#infor{
    margin-top:1px;
    
}
/* #infor img{ */
    /* border-radius: 50%; */

/* } */
/* aboutme */
/* section{
    margin-bottom: 5rem;

} */
.mar{
    margin-top: 30px;
}
.image-developer-edit{
    width: 350px;
    height: 350x;
}
.img-profile-edit{
    width: 350px;
    height: 350px;
    box-shadow: 3px black;
    border: 5px solid whitesmoke;
    border-radius: 50%;
}
.curser:hover{
   color: #FF0000;
}
.P-Logo{
    width: 20px;
    height: 20px;
    align-items: center;
    color: #FF0000;
}
section h2{
  
    font-size: 32;
    font-weight: 600;
}
section h6{
    font-size: 20;
    font-weight: 100;
    
}
.container h6{
    text-align: justify;
}
footer{
    border-top: 1px solid;
    margin-top: 5rem;
    padding-top: 15px;
}
.youtube{
   color: #FF0000;
}
.facebooke{
    color: #4267B2;
}
.Instagram{
    color: #e95950;
}
.Twitter{
    color: #1DA1F2;
}
footer h4{
 font-weight: 700;
}
footer p{
    font-size: 12px;
    font-weight: 600;
}
footer a{
    /* font-size: 14px; */
    font-weight: 500;
}
/* our project */
.service{
   background:rgb(25, 25, 204);
    width: 100%;
     padding: 30px 0px;  
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.Box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
}
.card{
    height: 365px;
    width: 335px;
    padding:20px 35px ;
    background: #191919;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    font-size: 23px;
    color: white;
    margin-bottom: 15px;
}
.pra{
    font-size: 16px;
    line-height: 27px;
    color: #fcfc;
    margin-bottom: 25px;
}
.card .button{
    background-color: blue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition:.4s;

}
/* service */
 .service-top h1{
   text-align: center;
   padding: 10px;
   margin-bottom: 60px;
   margin-top: 60px;
   font-weight: 600;
   position: relative;
} 
.service-top h1::after{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    bottom: -5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}
.services{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
     background: transparent; 
     transition: transform0.5s,background 0.5s;
}
.services i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}
.services h2{
    font-weight: 600;
    margin-bottom: 8px;
}
.services:hover{
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}
.services:hover i{
    color: #fff;
}
.container h6{
    line-height: 27px;
    text-align:left;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    
}
.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px #666;
    columns: auto;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height:100%;
    padding: 30px;
}
.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-form h2{
    margin-bottom: 10px;
   text-align: center;
   font-family: sans-serif;
   font-weight: 700;

}
.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: sans-serif;
}
.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: sans-serif;
}
.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background:#8e2de2 ;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
}

form i{
    color: blue;
}
form h2{
    
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
}
.map h2{
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}
.map i{
    color: red;
}
.btn-outline-success:hover{
 background-color: blue;
}
.btn-outline-success{
    border-radius: 7px;
}
.search{
    border-radius: 7px;
}
/* ====skills==== */
.inner{
    padding-top: 20px;
}
.skill-head{
    text-align: center;
    padding: 1px;
    position: relative;
    font-weight: 700;
    bottom: 35px;
    margin-top: 30px;
}
.skill-head::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 100px;
    background-color: blue;
}
.container-skill{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skill-box{
    padding: 1rem;
    cursor: pointer;
}
.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title::before{
    width: 35px;
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skill-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: blue;
    transition: .5s;
}
.skill-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius:0 2px 2px 0;
    background-color: blue;

}
.skill-title h3{
    padding: 0.5rem;
}
.skill-box p{
    text-align: center;
}
.skill-icon{
    width: 50px;
}
.img-skill{
    height: 90px;
    width: 90px;
    position: relative;
    border-radius: 45px;
    border: 4px solid blue;
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-skill::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    /* background-color: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px ; */
    transition: .5s;
    
}
.skill-box:hover .img-skill{
    transform: translateY(-10px);
}
@media screen and (max-width: 990px) {
    .container-skill{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
    
}
@media screen and (max-width: 990px) {
    .container-ed{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
    
}
/* =====skill percentage===== */
.percentage{
    display: grid;
    height: 100%;
    place-items:center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.percentage p{
    
    font-weight: 700;
}
.skill-bar{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.skill-bar .bar{
    margin: 20px 0;
}
.skill-bar .bar:first-child{
    margin-top: 0px;
}
.skill-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.skill-bar .bar .info{
    margin-bottom: 5px;
    
}
.skill-bar .bar .progress-line{
    height: 10px;
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    transform: scale(0);
    transform-origin: left;
      animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
                           1px 1px rgba(255, 255, 255,0.8);
}
@keyframes animate{
    100%{
        transform: scale(1);
    }
}
.bar .progress-line span{
    width: 80%;
    height: 100%;
    background-color: #6665ee;
    position: absolute;
   border-radius: 10px;
   animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
   
}
.bar .progress-line.html span{
   width: 90%;
  
}
.bar .progress-line.css span{
   width: 50%;
}
.bar .progress-line.javascript span{
    width: 75%;
  
}
.bar .progress-line.python span{
    width: 40%;
  
}
.bar .progress-line.mysql span{
    width: 99%;
  
}
.bar .progress-line.linux span{
   width: 20%;
  
}
.bar .progress-line span::before{
    position: absolute;
   width: 0;
   height: 0;
   right: 0;
   top: -10px;
   content: '';
   border: 7px solid transparent;
   border-bottom-width: 0px;
   border-right-width: 0px;
   border-top-color: #000;

  
}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
   top: -28px;
   content: '80%';
   font-size: 12px;
   font-weight: 500;
   color: #fff;
   background: #000;
   padding: 1px 8px;
   border-radius: 3px;
  
}
.bar .progress-line.html span::after{
    content: '90%';
  
}
.bar .progress-line.css span::after{
    content: '50%';
  
}
.bar .progress-line.javascript span::after{
    content: '75%';
  
}
.bar .progress-line.python span::after{
    content: '40%';
  
}
.bar .progress-line.mysql span::after{
    content: '99%';
  
}
.bar .progress-line.linux span::after{
    content: '20%';
  
}